.container {
  width: 100%;
}
.container__block {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 17px;
}
.top-bar__contact {
  display: flex;
  align-items: center;
  gap: 15px;
}
.svg-accent {
  fill: var(--accent-color);
}
.top-bar__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}
.top-bar__hello {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;
}
.navigation {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid var(--light-border);
  padding: 25px 0 30px 0;
}
.navigation__logo {
  flex-basis: 25%;
}
.navigation__logo-image {
  height: 68px;
  width: auto;
}
.navigation__search-bar {
  flex-basis: 50%;
}
.navigation__menu-main {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 46px;
}
.navigation__menu-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
