.container {
  width: 100%;
}
.container__block {
  max-width: 1720px;
  padding: 0 20px;
  margin: 0 auto;
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 17px;
}
.top-bar__contact {
  display: flex;
  align-items: center;
  gap: 15px;
}
.svg-accent {
  fill: var(--accent-color);
}
.top-bar__link {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FFFFFF;
  text-decoration: none;
}
.top-bar__hello {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: right;
  color: #FFFFFF;
}
.navigation {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  gap: 30px;
  border-bottom: 1px solid var(--light-border);
  padding: 25px 0 30px 0;
}
.navigation__logo {
  flex-basis: 25%;
}
.navigation__logo-image {
  height: 68px;
  width: auto;
}
.navigation__search-bar {
  flex-basis: 50%;
}
.navigation__search-form {
  display: flex;
  gap: 0;
}
.navigation__search-input {
  width: 60%;
  height: 67px;
  border: 1px solid #DCDCDC;
  border-right: 0;
  border-radius: 5px 0px 0px 5px;
  padding: 0 10px;
  margin: 0;
  outline: 0;
}
.navigation__search-select {
  width: 30%;
  height: 67px;
  border: 1px solid #DCDCDC;
  padding: 0 10px;
  margin: 0;
  outline: 0;
}
.navigation__search-option {
  width: 200px;
  overflow: hidden;
}
.navigation__search-button {
  width: 10%;
  height: 67px;
  background: rgba(185, 197, 153, 0.5);
  border-radius: 0px 5px 5px 0px;
}
.navigation__lang-select {
  width: 61px;
  height: 42px;
  border: 1px solid #DCDCDC;
  border-radius: 5px;
  padding: 0 5px;
  margin: 0;
  outline: 0;
}
.navigation__menu-main {
  position: relative;
  flex-basis: 25%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 46px;
}
.navigation__menu-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.navigation__menu-icons-link {
  display: flex;
}
.navigation__menu-icons-link:hover {
  background-color: var(--link-hover);
}
.navigation__menu-icons-link:before {
  content: '5';
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
.navigation__menu-sidenav-trigger {
  display: none;
  z-index: 5;
}
.navigation__menu-sidenav {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  right: -18px;
  width: 50vw;
  height: auto;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  padding: 15px;

}
.navigation__menu-sidenav-link {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--light-border);
}
.navigation__menu-sidenav-img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
